@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
	--color-negro: #333;
	--fondo-top: #2c2e30;
	--header: #3b4044;
	--color-primario: #60c2d3;
	--color-contenido: #808080;
	--color-titulos: #39454d;
	--fondo-gris: #f8f8f9;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: var(--color-contenido);
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}

header{
	background-color: var(--header);
}

#header-top{
	background-color: var(--fondo-top);
	padding: 10px;
}

.list-top a{
	color: var(--color-contenido);
}

.list-top a:hover{
	color: #666;
	text-decoration: none;
}

.carousel-caption{
	display: grid;
	align-content: center;
	height: 100%;
	text-align: left;
}

.carousel-caption h2{
	font-size: 50px;
	margin-bottom: 30px;
	font-weight: 300;
}

.carousel-caption p{
	font-size: 20px;
}

.btn-primary{
	background-color: var(--color-primario);
	border: 0;
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 14px;
}

.btn-primary:hover{
	background-color: white;
	color: var(--color-primario);
}

.truly{
	color: var(--color-negro);
}

.truly h2 span{
	color: var(--color-primario);
}

.clean h2 span{
	color: var(--color-negro);
	display: block;
}

.section{
	padding: 5% 0;
}

#features h3{
	color: var(--color-titulos);
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}

#features p{
	font-weight: 300;
}

#features i{
	color: var(--color-primario);
	font-size: 40px;
	background-color: #efefef;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 100%;
}

.title{
	font-size:32px;
	font-weight: 400px;
	text-align: center;
	margin-bottom: 30px;
	color: var(--color-titulos);
}

.subtitle{
	font-size:16px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
	}
.what-we-do{
	background-color: var(--fondo-gris);
}
#what-we-do hr{
	width: 60px;
	border-width: 4px;
	margin-bottom: 40px;
}

#what-we-do h4{
	color: var(--color-titulos);
	font-size: 20px;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom:30px;
}

#what-we-do p{
font-weight: 300;	
}

#what-we-do a{
	color: var(--color-primario);
}